<!DOCTYPE html>
<html>
<head>
  <title>TinyApp</title>
</head>
<body>
<h1>Login</h1>
   <form method="POST" action="/login">
    <input type="email" name="email" placeholder="email">
    <input type="password" name="password" placeholder="password">
    <button>submit</button>
  </form>
    <br>
    <br>
  <form method = "GET" action= "/register">
    <button>register</button>
  </form>
</body>
</html>