<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
   <% include ./partials/_header %>
   <p>long url: <%= longURL %> </p>
  <!-- <p> short url: <%= shortURL %> </p> -->
   <form method="GET" action="/urls">

    <button>home</button>
  </form>
</body>
</html>