<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
   <% include ./partials/_header %>
    <ul>
      List
      <% if(getUserIdFromData(user_id)) { %>
        <li>
           <% urls[user_id].id %>
           -
          <a href="#"> <%= urls[user_id].longURL %> </a>
          <br>
          <form method="POST" action="/urls/<%= urls[link].userID %>/delete" >
            <button>delete</button>
          </form>
          <form method="GET" action="/urls/<%= urls[link].userID %>">
            <button>update</button>
          </form>
        </li>
      <% } %>

    </ul>
</body>
</html>


